@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */
.custom-info-window {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.custom-info-window h3 {
  margin-top: 0;
  color: #ff5722; /* Example color for the title */
}

.custom-info-window p {
  margin-bottom: 0;
  color: #666; /* Example color for the text */
}
.search-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
}
